<form novalidate (ngSubmit)='onSubmit(user)' [formGroup]='user'>
    <label>
        <span>Full Name</span>
        <input type='text' formControlName='name' placeholder='Your Full Name'>
    </label>
    <div class='error'
    *ngIf='user.get("name").hasError("required") && user.get("name").touched'>
        Name is Required
    </div>
    <div class='error'
    *ngIf='user.get("name").hasError("minLength") && user.get("name").touched'>
        Minimum of 2 characters
    </div>

    <label>
        <span>City</span>
        <select class='custom-select' (change)='changeCity($event)' formControlName='cityName'>
            <option value='' disabled>Choose your city</option>
            <option *ngFor='let city of City' [ngValue]='city'>{{city}}</option>
        </select>
    </label>
    <div class='error'
    *ngIf='cityName.errors?.required'>
        City is Required
    </div>
    <div formGroupName='account'>
        <label>
            <span>Email Address</span>
            <input type='email' formControlName='email' placeholder="Your Email Address">
        </label>
        <div class='error'
        *ngIf='user.get("account").get("email").hasError("required") && user.get("account").get("email").touched'>
            Email is Required
        </div>
        <label>
            <span>Confirm Email</span>
            <input type='email' formControlName='confirm' placeholder="Confirm Your Email Address">
        </label>
        <div class='error'
        *ngIf='user.get("account").get("confirm").hasError("required") && user.get("account").get("confirm").touched'>
            Confirming Email is Required
        </div>
    </div>
    <button type='submit' [disabled]='user.invalid'>Sign Up</button>
</form>